.chapter-list {
  width: auto;
  height: auto;
  padding: 24px 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  background: #141414;
  border-radius: 8px;

  &>div {
    &+div {
      margin-top: 23px;
    }
  }

  &__flex {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  &__left,
  &__right {
    width: 50%;
    height: auto;
  }

  &__lasted,
  &__release {
    width: 100%;
    height: auto;
  }

  &__right {
    display: flex;
    padding: 0 24px;
    justify-content: flex-end;

    &>div {
      width: 32px;
      height: 32px;
      padding: 8px;

      gap: 10px;
      border: 1px solid #434343;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      border-radius: 8px;
      transition: transform .4s ease-in-out;
      filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.016));
      cursor: pointer;

      &:focus,
      &:active,
      &:visited {
        transform: translate(3px, 4px);
      }

      & + div {
        margin-left: 16px;
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    padding: 0 24px;
    color: rgba(255, 255, 255, 0.85);
  }

  .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    padding: 0 24px;
    color: rgba(255, 255, 255, 0.65);
    opacity: 0.8;
  }

  &__contents {
    width: 100%;
    height: auto;
  }
}