.chapter-list {
  width: auto;
  height: auto;
  padding: 24px 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  background: #141414;
  border-radius: 8px;

  & > div {
    & + div {
      margin-top: 23px;
    }
  }

  &__lasted, &__release {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    padding: 0 24px;
    color: rgba(255, 255, 255, 0.85);
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    padding: 0 24px;
    color: rgba(255, 255, 255, 0.65);
    opacity: 0.8;
  }

  &__contents {
    width: 100%;
    height: auto;
  }
}